 .into{
      color:darkviolet;
      background-color:mediumspringgreen;
      font-family:verdana;
      text-align:center;
      width: 75%
    }
    body {
      background: linear-gradient(to bottom, #00ffff 0%, #ff66ff 100%);
      text-align: center;
    }
    .image{
      width: 50%
   }
    
