 .into{
      color:darkviolet;
      background-color:mediumspringgreen;
      font-family:verdana;
      text-align: left;
      width: 75%
    }
    .header{
      color:silver;
      font-size: 40px;
      font-family: countier;
      border:5px solid #ff66ff
    }
    
    body {
      background: linear-gradient(to bottom, #00ffff 0%, #ff66ff 100%);
      text-align: center;
    }
    .image{
      width: 100%
   }
    
